.register {
  height: 100vh;
  background-color: #58B2DC;
  background-image: url("https://nipponcolors.com/images/texture.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.register .card {
  width: 50%;
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  min-height: 600px;
  overflow: hidden;
}

.register .card .left {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

.register .card .left h1 {
  color: #555;
}

.register .card .left form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.register .card .left form input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 20px 10px;
  outline: none;
}

.register .card .left form button {
  width: 50%;
  padding: 10px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  background-color: #006284;
  border-radius: 5px;
}

.register .card .left form button:active {
  transform: scale(0.98);
}

.register .card .right {
  flex: 1;
  background: linear-gradient(rgba(88, 178, 220, 0.2), rgba(88, 178, 220, 0.2)), url("https://cdn.pixabay.com/photo/2022/08/08/13/59/cloud-of-bunch-of-7372799_1280.jpg");
  background-size: cover;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}

.register .card .right h1 {
  font-size: 100px;
  line-height: 100px;
}

.register .card .right span {
  font-size: 14px;
}

.register .card .right button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  color: #006284;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.register .card .right button:active {
  transform: scale(0.98);
}
